<%= link_to '< See all spaces', section_spaces_path %>

<h1><%= @space.name %></h1>

<%= render "label", space: @space %>

<table class="open-table">
<tr>
     <th>Parameter</th><th>Value</th>
</tr>
<tr><td><i>Space Code</i></td><td><%= @space.spacecode %></td></tr>
<tr><td><i>Name</i></td><td><%= @space.name %></td></tr>
<tr><td><i>Description</i></td><td><%= @space.description %></td></tr>
<tr><td><i>Created at</i></td><td><%= @space.created_at %></td></tr>
<tr><td><i>Last updated at</i></td><td><%= @space.updated_at %></td></tr>

</table>
<i><%= link_to "Edit", edit_section_space_path %></i> | <i><%= link_to "View Items >", section_space_items_path(:space_spacecode => @space.spacecode) %></i>


<h2 class="destructive">Delete this space</h2>
<p>If you no longer use this space, you can choose to delete it. All inventory items associated with this space will be destroyed. This action is irreversible.</p>

<%= button_to "I understand the consequences, delete this space", section_space_path, data: { turbo_confirm: "Are you sure you want to delete this space?\n\n This action is irreversible." }, method: :delete, class: "destructive-background" %>