<h1>Print</h1>

<% if @queue.print_queue_items.empty? %>
     <p>No items in print queue. </p>
<% else %>
     <table class="standard-table">
          <tr>
               <th>Item</th>
               <th>Name</th>
               <th>Quantity</th>
               <th>Delete</th>
          </tr>
          <% @queue.print_queue_items.each do |item| %>
               <tr>
                    <td><%= item.print_content.html_safe %></td>
                    <td><b><%= item.name %></b></td>
                    <td>
                         <%= form_with url: change_quantity_print_queue_item_path(item), method: :post do |form| %>
                              <%= form.number_field :quantity,  min: 1, value:item.quantity, onchange: "this.form.submit()"%>
                         <% end %>
                    </td>
                    <td>
                    <%= button_to "Delete", delete_item_print_queue_item_path(item), data: { turbo_confirm: "Are you sure you want to delete this item?\n\n You can add this item again from the item's inventory page." }, method: :delete, class: "destructive-background" %>

                    </td>
               </tr>
          <% end %>
     </table>
     <%= link_to "Go to Print Shop", print_shop_path %>
<% end %>
