<!DOCTYPE html>
<html>
	<head>
		<title>Sherlock</title>

	<!--
	
	Hello there, explorer!
	Visit https://github.com/SumukhPrasad/Sherlock to see the source code.

	 -->

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="#208170">


		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>

	<body>

	<% if user_signed_in? %>
	<%= render :partial => "layouts/sidebar" %>
	<main>
	<% end %>

		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		<%= yield %>

	<% if user_signed_in? %>	
	</main>
	<% end %>

	</body>
</html>
